# Sensitive local environment files
docker-compose.yml
.env
*.tfvars
terraform.tfvars

# Terraform local state
.terraform/
*.tfstate
*.tfstate.backup

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db